# .NET Core
bin/
obj/
# Visual Studio
.vs/
.vscode/
# Secrets
appsettings.Development.json
appsettings.Production.json
appsettings.json
# Build
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
# NuGet
*.nupkg
*.nuget.props
*.nuget.targets
# User files
*.user
*.suo
